/* padding left-right 9.375em */
/* Buttons */
.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  font-family: inherit;
  outline: none;
  background: none;
  margin-bottom: 1em;
}
.btn-filled {
  background: #f53838;
  color: #fff;
  font-weight: 700;
}
.btn-hollow {
  background: none;
  font-weight: 500;
  color: #f53855;
  border: 1px solid #f53855;
  border-radius: 50px;
}
.btn-sign-up {
  transition: all 0.5s;
  padding: 1em 2.5em;
  margin-top: 1em;
  font-size: 0.75rem;
}
.btn-sign-up:focus,
.btn-sign-up:hover {
  background: #f53855;
  color: #fff;
  transition: all 1s;
}
.btn-sign-in {
  font-weight: 500;
  font-size: 0.75rem;
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 1em 0;
}
.btn-sign-in:hover,
.btn-sign-in:focus {
  color: #f53838;
  transition: all 0.5s;
}
/* Global */
.header,
.hero,
.features-section,
.plans-section,
.network-section,
.footer {
  padding: 1.25em 0;
}
/* Header */
.header {
  position: relative;
}
.header-nav {
  list-style: none;
  text-align: center;
  margin-bottom: 1em;
}
.header-nav li {
  cursor: pointer;
  transition: all 0.5s;
  padding: 1em 0;
}
.header-nav li:hover {
  color: #f53855;
  transition: all 0.5s;
}
/* Hero */
.hero-title,
.features-title,
.plans-title,
.network-title,
.reviews-title {
  font-weight: 500;
  color: #0b132a;
  margin-bottom: 1em;
  line-height: 1.5;
}
.hero-subtitle,
.features-subtitle,
.plans-subtitle,
.network-subtitle,
.reviews-subtitle {
  line-height: 1.5;
}
.hero-subtitle {
  margin: 2em 0;
}
.hero-image,
.features-image,
.network-image,
.sponsors-image {
  width: 100%;
  margin-bottom: 2em;
}
.bold-big {
  font-weight: 700;
}
.hero-showcase {
  box-shadow: 0 10px 20px -20px #4f5665;
  display: flex;
  justify-content: space-evenly;
}

.showcase-item {
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
  gap: 0.5em;
}
.showcase-item p {
  font-size: 0.8rem;
}
.showcase-item h3 {
  color: #0b132a;
  font-size: 1rem;
}
.showcase-icon {
  padding: 0.5em;
  background-color: #ffecec;
  border-radius: 50%;
}
.showcase-icon img {
  display: block;
}
.btn-filled:focus,
.btn-filled:hover {
  outline: 5px auto #f53838;
  background: #fff;
  color: #f53838;
  transition: all 1s;
}
.btn-get-started,
.modal-subscribe-btn {
  transition: all 0.5s;
  box-shadow: 0 10px 30px -10px #f53838;
  padding: 1.25em 6.5em;
  border-radius: 10px;
  margin-bottom: 2em;
}
/* Features */
.features-list {
  list-style: none;
}
.features-list li {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 1em 0;
}
.features-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.features-subtitle {
  margin-bottom: 1em;
}
/* Plans */
.package {
  margin-bottom: 1.5em;
}
.plan {
  margin: 0 auto;
  width: 90%;
  border: 2px solid #dddddd;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 2em;
  padding: 2em 3em;
  text-align: center;
}
.plans-subtitle {
  margin-bottom: 2em;
}
.plan-title {
  margin-bottom: 2em;
}
.plan-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 290px;
}
.plan:hover,
.plan:focus {
  outline: 5px auto #f53838;
}
.plan-list li {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  margin: 1em 0;
}
.price span {
  color: #0b132a;
}
.price {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.select-btn {
  padding: 0.75em 4em;
  outline: none;
  transition: all 0.5s;
  font-weight: 700;
  border-width: 2px;
}
.select-btn:hover,
.select-btn:focus {
  color: #fff;
  background: #f53838;
  transition: all 0.5s;
}
/* Network */
.network-subtitle {
  margin-bottom: 2em;
}
/* Reviews */
.reviews-section {
  overflow: hidden;
  margin-bottom: 3em;
}
.reviews-subtitle {
  margin-bottom: 2em;
}
.reviews-container {
  width: 200%;
  display: flex;
  /* overflow: hidden; */
  gap: 3.125em;
  margin: 3em 0;
}
.review-wrapper {
  min-height: 230px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #dddddd;
  padding: 2em;
  min-height: 400px;
  max-width: 260px;
}
.review-info {
  display: flex;
  align-items: center;
}
.review-personal p {
  margin: 5px;
}
.review-avatar {
  width: 3.125em;
  height: 3.125em;
  margin-right: 20px;
}
.review-name {
  font-size: 1.125rem;
}
.review-name,
.review-rating,
.review-text {
  color: #0b132a;
}
.review-text {
  margin-top: 5em;
}
.review-rating {
  display: flex;
  margin: 0;
  gap: 0.75em;
  align-items: center;
}
.review-rating {
  margin-left: auto;
}
.review-star {
  width: 1rem;
}

.selected-review {
  border: 2px solid #f53838;
}
.selected-nav-point {
  width: 3em;
  height: 1em;
  background: red;
  transition: all 1s;
  border-radius: 50px;
}
.nav-point {
  width: 1em;
  height: 1em;
  background: #dde0e4;
  border-radius: 50%;
  transition: all 1s;
}
.reviews-nav-points {
  display: flex;
  gap: 15px;
}
.reviews-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-nav-btn-wrapper {
  display: flex;
  gap: 1.25em;
}
.reviews-nav-btn {
  width: 3.75em;
  height: 3.75em;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.hollow {
  border: 2px solid #f53838;
}
.filled {
  border: none;
  background-color: #f53838;
}
.reviews-nav-btn svg,
.reviews-nav-btn svg {
  width: 2em;
  display: block;
}
.hollow path {
  stroke: red;
  stroke-width: 4;
}
.filled path {
  stroke: #fff;
  stroke-width: 4;
}
/* Subscription Modal */
.subscription-modal {
  border-radius: 10px;
  box-shadow: 0 10px 10px -5px #4f5665;
  display: flex;
  padding: 3em;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: relative;
}
.modal-title {
  color: #0b132a;
  font-weight: 500;
}
.modal-subscribe-btn {
  margin: 0;
}
/* Footer */
.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 2em;
}
.footer-nav label span {
  font-size: 1rem;
}
.footer-misc {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer-nav ul {
  padding: 0;
  list-style: none;
}
.footer-logo-subtext {
  font-size: 0.8rem;
}
.footer-nav ul li {
  margin: 1em 0;
  cursor: pointer;
  transition: all 0.5s;
}
.footer-nav ul li:hover,
.footer-nav ul li:focus {
  color: red;
  transition: all 0.5s;
}
.footer-nav label span {
  font-weight: 500;
  color: #0b132a;
}
.social-btn svg {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}
.social-btn {
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 0.7em;
  box-shadow: 0 10px 20px -10px #4f5665;
  cursor: pointer;
  outline-color: red;
  transition: all 0.5s;
}
.social-btn:hover,
.social-btn:focus {
  background: #ffc8d0;
  transition: all 1s;
}

.social-btn-wrapper {
  display: flex;
  gap: 1.25em;
}
.trademark {
  color: #afb5c0;
}
.logo {
  max-width: 150px;
}
.footer-logo-subtext {
  line-height: 2;
  margin-top: -0.75em;
}
.bold-light-small {
  font-weight: 500;
}
@media (min-width: 768px) {
  .showcase-item:not(:last-child) {
    border-right: 2px solid #eeeff2;
  }
}
